body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
.code-container {
  background-color: #111;
  color: #fff;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: auto;
  font-size: 18px;
  width: 60vw;

}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: #3c0c4a;
}
/*
h2, h5 {
  text-align: center;
} */
.copy-button {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.explanation{
  margin: 0 auto;
  width: 60vw;
  padding: 15px;

}
/* custom-prism.css */

/* Background color for the code block */
pre {
  background-color: #282c34;
  padding: 20px;
  border-radius: 5px;
}

/* Text color for the code */
code {
  color: #abb2bf;
}

/* Keyword color */
.token.keyword {
  color: #c678dd;
}

/* Comment color */
.token.comment {
  color: #5c6370;
}

/* String color */
.token.string {
  color: #98c379;
}

/* Number color */
.token.number {
  color: #d19a66;
}

/* ... Add more styling for other token types as needed */
